.root {
    -fx-background-color: lightgrey;
}

.button {
    -fx-background-color: #202124;
    -fx-background-radius: 40px;
    -fx-text-fill: #ddd2ec;
}

.button:hover {
    -fx-background-color: #baa7d9;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: #baa7d9;
}

.button.selected {
    -fx-background-color: #66b2ff;
    -fx-text-fill: black;
}

.text-field{
    -fx-background-color:lightgrey;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
}

.text-area {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-control-inner-background: white;
}