.root{
    -fx-background-color: #D9D9D9;
}

#backgroundOpyions{
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-background-color: #AC8888;
    -fx-background-radius: 0px;
    -fx-text-fill: #28032C;
}

#emailOfAuthUser{
    fx-text-fill: #8D5454;
}

#write{
    -fx-background-radius: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
    -fx-font-size: 12;
}

#exit{
    -fx-background-radius: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
    -fx-font-size: 12;
}

#search{
    -fx-font-family: Kaisei Opti;
    -fx-background-radius: 25px;
    -fx-text-fill: white;
    -fx-opacity: 49%;
}

#startChat{
    -fx-background-radius: 12px;
    -fx-font-family: Inter;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#speakWith{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 4px;
}

.button.selected {
    -fx-background-color: #AC8888;
    -fx-text-fill: #28032C;
}

#backHbox{
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.check-box{
    -fx-background-color: #B7B7B7;
    -fx-border-color: #B7B7B7;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.text-field:hover {
    -fx-background-color: #AC8888;
}

.text-field:pressed {
    -fx-background-color: #AC8888;
}

.text-field:disabled{
    -fx-background-color: #8E8F8B;

}

.button{
    -fx-background-color: #B1B1B1;
}

#hboxInsideInboxes{
    -fx-spacing: 1px;
}

.check-box .box {
    -fx-background-color: #B7B7B7;
    -fx-border-color: white;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.check-box:selected .box {
    -fx-background-color: #B7B7B7;
}