.root {
    -fx-background-color: #A5A5A5;
}

#labelLogin {
    -fx-text-fill: #202124;
}

.button {
    -fx-background-color: #3F3131;
    -fx-background-radius: 14px;
    -fx-font-family: Inter;
    -fx-text-fill: #ddd2ec;
}

.button:hover {
    -fx-background-color: #baa7d9;
    -fx-text-fill: black;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.3s ease-in-out;
}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: #baa7d9;
}

.button.selected {
    -fx-background-color: #66b2ff;
    -fx-text-fill: black;
}

#noHaveAcc {
    -fx-text-fill: #202124;
}

.text-field{
    -fx-background-radius: 12px;
    -fx-border-width: 0px;
}